/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('assets/fonts/Lato/Lato-Black.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('assets/fonts/Lato/Lato-Bold.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Hairline */@font-face {
    font-family: 'LatoWebHairline';
    src: url('assets/fonts/Lato/Lato-Hairline.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('assets/fonts/Lato/Lato-Heavy.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('assets/fonts/Lato/Lato-Light.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('assets/fonts/Lato/Lato-Medium.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('assets/fonts/Lato/Lato-Regular.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('assets/fonts/Lato/Lato-Semibold.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('assets/fonts/Lato/Lato-Thin.ttf'); /* IE9 Compat Modes */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

