@import "../../assets/colors";
.header-bar{
  background: $dark-blue;
  -webkit-app-region: drag;

  .header-logo{
    height: 20px;
    margin: 5px 10px;
  }
  .header-title{
    font-size: 13px;
    padding: 6px 15px !important;
    font-weight: 500;
    color: #ddd;
  }
  .header-btn{
    -webkit-app-region: no-drag;
    padding: 0 25px;
    color: white;
    border-radius: 0;
    border: none;
    margin: 0px;
    height: 100%;
    &:hover{
      background: #c2c2c2;
    }
    &.header-btn-close:hover{
      background: #ff2222;
      color:white;
    }
  }
}