.header-bar{
  background: #E9E9E9;
  -webkit-app-region: drag;
  .header-logo{
    height: 20px;
    margin: 5px 10px;
  }
  .header-title{
    font-size: 13px;
    padding: 5px !important;
    font-weight: 500;
  }
  .header-btn{
    -webkit-app-region: no-drag;
    padding: 0 25px;
    color: #333333;
    border-radius: 0;
    border: none;
    margin: 0px;
    height: 100%;
    &:hover{
      background: #c2c2c2;
    }
    &.header-btn-close:hover{
      background: #ff2222;
      color:white;
    }
  }
}